/*Css de Curriculum*/
.imgAvatar {
    margin-top: 5em;
    margin-right: 15em;
    height: 30vh;
}
.titulo {
    line-height: 6.5em;
    font-size: 5em;
    color: white;
}
summary {
    font-size: 5em;
    text-align: center;
    color: white;
}
.pDatosPersonales {
    margin-top: 2em;
    margin-left: 5em;
    font-size: 3em;
    color: white;
}
.pDatosPersonalesSinMargin {
    margin-top: 0.5em;
    margin-left: 5em;
    font-size: 3em;
    color: white;
}
.titulosAcademy {
    margin-top: 2em;
}
.containerMain {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}