*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    background-color: rgb(122, 122, 122);
}

/*Css de Header*/
.logo {
    position: absolute;
    padding: 0px 15em;
    height: 10em;
    margin-top: 1em;
}
.menu {
    float: right;
}
.menu li {
    display: inline-block;
}
.menu a:hover, a.active {
    background: #02bca0;
    transition: .5s;
}
.menu {
    margin-right: 10em;
    margin-top: 4.5em;
}
.menu a {
    color: #ffffff;
    font-size: 1.8em;
    padding: 7px 15px;
    border-radius: 0.3em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.3em;
}
header {
    background: #000000;
    height: 11em;
    width: 100%;
    margin: 0;
}
/*Css de Footer*/
footer {
    margin-top: 15em;
    background-color: black;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logofooter {
    height: 8em;
    margin-bottom: 1em;
    margin-top: 2.5em;
}
.containerderechos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    list-style-type: none;
    color: white;
    font-size: 1.6em;
}
.derechos {
    margin: 0.8em 0.8em;
    cursor: pointer;
    opacity: 0.6;
}
.derechos:hover {
    opacity: 1;
}
.copyright {
    color: white;
    opacity: 0.3;
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 1em;
}
.containericonos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.iconredes {
    height: 5em;
    width: 5em;
    border-radius: 5em;
    border: 1px solid white;
    background-image: url(../img/facebook.jpg);
    background-position: center; 
    background-size: 45%;
    background-repeat: no-repeat;
    margin: 1em;
    background-color: rgb(0, 0, 0);
}
.iconredes:hover {
    filter: invert(1);
}
.iconredes:nth-of-type(2) { /*Cambiar de ul*/
    background-image: url(../img/instagram.jpg);
}
.iconredes:nth-of-type(3) {
    background-image: url(../img/twitter.jpg);
}
.iconredes:nth-of-type(4) {
    background-image: url(../img/linkedin.jpg); 
}
