.titulo {
    text-align: center;
    background-color:white;
    font-family: Verdana;
    font-size: 3em;
    margin-bottom: 1.5em;
}
.uls {
    margin-top: 15em;
    background-color: azure;
    width: 45vw;
    height: 50vh;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
}
.tipos {
    font-family: Lucida;
    font-size: 1.5em;
    list-style: none;
}
.cuboright {
    float: right;
    margin-right: 2em;
}
.cuboleft {
    float: left;
    margin-left: 2em;
}
.cubomid {
    margin-bottom: 5em;
}
main div {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background-color: red;
    animation-name: spin;
    animation-duration:5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */ 
    /* transform: rotate(.03turn);  */
}

